/* more general classes borrowed from tachyons */
/* styles */
#app {
  font-size: 1.4rem;
}
.absolute { position: absolute }
.relative { position: relative }
.pointer:hover { cursor: pointer }
.dib { display: inline-block }
.di { display: inline }
.db { display: block }
.dn { display: none }
.tr { text-align: right }
.bold { font-weight: bold }
.b { font-weight: bold }
.list { list-style-type: none }
.pill.link {
  text-decoration: none;
}
.pill.pointer, .pill.link {
  text-decoration: none;
  transition: opacity .15s ease-in;
  -webkit-transition: opacity .15s ease-in;
  -moz-transition: opacity .15s ease-in;
  -ms-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
}
.pill.pointer:hover, .pill.link:hover {
  opacity: 0.8;
}
.fl { float: left }
.fr { float: right }
.cf:before,
.cf:after   { content: " "; display: table; }
.cf:after   { clear: both; }
.cf         { *zoom: 1; }
.ph2  {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}
.pa2  {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
.mv1  {
  margin-top: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
}
.ma1  {
  margin-top: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
  margin-left: var(--spacing-extra-small);
  margin-right: var(--spacing-extra-small);
}
/* specific classes */
.box-button-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: var(--spacing-extra-small);
  margin-bottom: var(--spacing-medium);
}
.box-button {
  text-decoration: none;
  transition: opacity .15s ease-in;
  -webkit-transition: opacity .15s ease-in;
  -moz-transition: opacity .15s ease-in;
  -ms-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  border: 1px solid rgba(255, 255, 255);
  background-color: transparent;
  color: rgba(255, 255, 255);
  border-radius: 40px;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: .7rem .5rem .2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
  transition: border 1s ease;
  cursor: pointer;
  position: relative;
}
.box-button:hover {
  opacity: 0.8;
}
.box-button-selected {
  background-color: rgb(225, 255, 255);
  color: black;
}
#container-box {
  position: relative;
}
.boxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
  opacity: 0;
  background-color: black;
  z-index: 99;
  visibility: hidden;
}
#swapSelectorModal {
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: .25rem;
  width: 100%;
  position: absolute;
  top: -50px;
  /* opacity: 0; */
  background-color: white;
  padding: .25rem;
  z-index: 9999;
}
[name='purchase_option'] {
  margin-right: 0.5em;
}
.dot { /* wraps html entity with circle */
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
  padding: .2em .3em;
  font-size: 0.7em;
}
.flex-row {
  display: flex;
}
.flex-left {
  width: 50%;
}
.flex-right {
  width: 50%;
  text-align: right;
}
.checkbox {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  box-sizing: border-box;
  padding: 0;
  border-color: #999;
  margin-right: .5rem;
}
.select-dropdown-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  //-webkit-appearance: button;
  outline: 0;
  border: 0;
  padding: 10px 0;
  //border: solid 1px #777;
  //border-radius: .25rem;
  display: inline-block;
  letter-spacing: .05em;
  width: 100%;
  background-color: transparent;
  //padding: .5rem;
  //margin-bottom: .25rem;
  //text-transform: uppercase;
  cursor: pointer;
}
.select-dropdown-button:hover {
  opacity: 0.5;
}
.select-dropdown-wrapper {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: initial;
  line-height: 1.225;
  list-style: none;
  box-sizing: border-box;
  overflow: visible;
}
.select-dropdown-wrapper > button {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  outline: 0;
  border: 0;
  //border-right: solid 1px #777;
  //border-left: solid 1px #777;
  //border-radius: .25rem;
  width: 100%;
  background-color: transparent;
  padding: 0;
  //text-transform: uppercase;
}
.select-dropdown-wrapper > button.mybutton {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 3px 0;
}
.select-dropdown-wrapper > button.single {
  border-top: solid 1px #777;
  border-bottom: solid 1px #777;
}
.select-dropdown-wrapper > button.top {
  border-top: solid 1px #777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}
.select-dropdown-wrapper > button.bottom {
  border-bottom: solid 1px #777;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}
.select-dropdown-wrapper > button.center {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}
.select-dropdown-wrapper > button > div {
  font-family: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  box-sizing: border-box;
  //padding: .25rem;
  opacity: 1;
  border: 0;
  transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -ms-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
}
.select-dropdown-wrapper > button > div:hover {
  opacity: 0.5;
}
div.button-wrapper {
  margin-top: 0.5em;
}
div.button-wrapper > .button-wrap {
  margin: 0 0.1em;
  //flex-grow: 1;
}
div.button-wrapper > button,
div.button-wrapper > .button-wrap > button {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  //text-transform: uppercase;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  //outline: 0;
  border: 1px solid rgb(255, 255, 255);
  //border-radius: .25rem;
  letter-spacing: .1em;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: .25rem;
  opacity: 1;
  transition: opacity .15s ease-in;
  -webkit-transition: opacity .15s ease-in;
  -moz-transition: opacity .15s ease-in;
  -ms-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  cursor: pointer;
}
div.button-wrapper > .button-wrap > button {
}
div.button-wrapper > .button-wrap > button:hover,
div.button-wrapper > button:hover {
  opacity: 0.8;
  outline: 1;
  border: 1px solid rgb(255, 255, 255);
}
.notice {
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: .25rem;
  width: 100%;
  margin-bottom: .5rem;
  text-align: center;
  color: #333;
  padding: 3px;
}
.notice > p {
  padding: 0;
  margin: 0;
}
.notice > p:before {
  content: "! ";
  font-weight: bold;
}
.listing-title {
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 700;
  padding-top: .5rem;
  border-bottom: 1px solid;
}
.pill-wrapper {
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #999;
  float: left;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}
.pill-wrapper:after { /* clear float magic */
  content: " ";
  display: block;
  clear: both;
}
.pill {
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  white-space: nowrap;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  /* border-radius: 9999px; */
  border-radius: 3px;
  float: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: .25rem;
}
.close-button {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  outline: 0;
  border-style: none;
  border-width: 0;
  top: 0;
  right: 0;
  position: absolute;
  color: #555;
  background-color: transparent;
  padding: .25rem;
  text-decoration: none;
  opacity: 1;
  transition: opacity .15s ease-out;
  cursor: pointer;
}
.close-button:hover {
  opacity: 0.5;
}
#quantityModal {
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid;
}
#quantityModal .listing-title {
  color: inherit;
  margin-bottom: 15px;
  text-align: center;
}
#quantityModal .listing-wrapper {
}
#quantityModal .input-wrapper {
  margin-bottom: 0.2em;
  width: 100%;
}
#quantityModal .input-title {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  outline: 0;
  -webkit-appearance: none;
  padding: .5rem;
  box-sizing: border-box;
}
#quantityModal .input-quantity {
}
#quantityModal .input-price {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  outline: 0;
  border-color: #333;
  border-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  -webkit-appearance: none;
  width: 20%;
  padding: .5rem;
  box-sizing: border-box;
}
.popup-container {
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
}
