@import '_animation.scss';
@import '_variables.scss';
@import '_bar-loader.scss';
@import '_icon.scss';
@import '_info.scss';
@import '_buttons.scss';
@import '_product-pills.scss';
@import '_notice.scss';
@import '_wrapper.scss';
@import '_id-selectors.scss';
@import '_dropdown-selector.scss';
@import '_quantity-modal.scss';
@import '_popup.scss';

/* used in product listings, didn't find a place to put it */
.listing-title {
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 700;
  padding-top: .5rem;
  border-bottom: 1px solid;
}
