.collapsible {
  overflow:hidden;
  transition: height 0.8s ease-out;
  height:auto;
}
.collapsible.hide {
  height:0px;
}
.collapsed {
  display: none;
}
.fade {
  transition: opacity 0.4s;
  opacity: 0;
}
