{% layout "layout" %}
{% block content %}
<mj-section padding-bottom="0px">
  <mj-divider border-width="1px" color="#aaa" />
  <mj-column width="100%">
    <mj-text align="left" font-size="15px" font-style="bold" padding-bottom="10px" padding-top="5px">
      Orphaned Subscriptions
    </mj-text>
    <mj-text align="left">
      <p style="color:#666;padding:5px 0;margin:0">
        The service that does some of the work has found the following orphaned subscriptions:
        {% if orphans.length == 0 %}
          <p> No orphans found </p>
        {% else %}
          <ul style="list-style: none; padding: 10px 0; font-style:normal; margin: 0px">
            {% render "dtable", items: orphans %}
          </ul>
        {% endif %}
    </mj-text>
  </mj-column>
  <mj-divider border-width="1px" color="#aaa" />
  <mj-column width="100%">
    <mj-text align="left" font-size="15px" font-style="bold" padding-bottom="10px" padding-top="5px">
      Date Mismatches
    </mj-text>
    <mj-text align="left">
      <p style="color:#666;padding:5px 0;margin:0">
        The service that does some of the work has found the following subscriptions where the dates do not match:
        {% if date_mismatch.length == 0 %}
          <p> No date mismatches found </p>
        {% else %}
          <ul style="list-style: none; padding: 10px 0; font-style:normal; margin: 0px">
            {% render "dtable", items: date_mismatch %}
          </ul>
        {% endif %}
      </p>
    </mj-text>
  </mj-column>
</mj-section>
{% endblock %}
