<mj-section padding="0px 0px" full-width="true">
  <mj-column width="100%">
      <mj-button
        background-color="#162842"
        href="https://{{env.SHOP}}/account">
        View or edit your subscription
      </mj-button>
  </mj-column>
</mj-section>
<mj-section padding="10px 0px" full-width="true">
  <mj-column width="100%">
    <mj-text align="right">
      {% if boxesLogo %}
      <a href="https://boxesapp.nz">
        <img src="{{ env.HOST }}/logos/boxes.png" width="60px" />
      </a>
      {% endif %}
    </mj-text>
  </mj-column>
</mj-section>


