<tr>
  <td colspan="4" style="text-align:left;border-top:1px solid #333">
    Total (excl. shipping).
  </td>
  <td width="40px" style="text-align:right;border-top:1px solid #333">
    <span>$</span>{{ totalPrice | money }}
  </td>
</tr>
