.markdown-body h2.mt0 {
  margin-top: 0px;
}
.markdown-body h2.bb-0 {
  border-bottom: 0px;
}
.markdown-body h3 {
  margin-top: 0px;
}
.markdown-body h4.mt0 {
  margin-top: 0px;
}
.markdown-body h4.mb0 {
  margin-bottom: 0px;
}
.smaller {
  font-size: smaller;
}
