#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px auto;
  max-width: 64rem;
}
section.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 45px;
}
pre {
  border: 1px solid #e3e3e3;
}
#navigation {
  transition: opacity 0.5s linear 0.1s;
}
#navigation.on {
  opacity: 1;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
/* start dropdown navigation */
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
#navigation ul li+li {
  margin-top: 0;
}
#navigation ul li {
  float: left;
}
#navigation li a, #navigation .dropbtn {
  display: inline-block;
  color: darkslateblue;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#navigation li a:hover, #navigation .dropdown:hover .dropbtn {
  background-color: ivory;
}
#navigation li.dropdown {
  display: inline-block;
  margin-top: 0;
}
#navigation .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#navigation .dropdown-content a {
  color: darkslateblue;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#navigation .dropdown-content a:hover {background-color: #f1f1f1;}
#navigation .dropdown:hover .dropdown-content {
  display: block;
}
/* end dropdown navigation */
