  {% if product.type == 'Container Box' %}
    <script type="application/json" id="cart-json">
      {{ cart | json }}
    </script>
    <script type="application/json" id="box-settings-json">
    </script>
    <script type="application/json" id="box-rules-json">
    </script>

    <div style="text-align: center; font-weight: 700">
        <p id="product-price">{{ current_variant.price | money }}</p>
    </div>
    <div id="app">
      <div class="progress-bar mt2">
        <span class="bar">
          <span class="progress" />
        </span>
      </div>
    </div>
  {% else %}
    {% include 'product-form' %}
  {% endif %}