#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404040;
  margin: 60px auto;
  max-width: 64rem;
}
pre {
  border: 1px solid #707070;
  padding: 2em;
}
